<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="houseware.learn.spring.batch" level="debug"/>
    <logger name="org.springframework.batch" level="info"/>
    <logger name="org.springframework.core" level="error"/>

    <root level="error">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>